

<form ng-submit="vm.submit()">
    <div antiforgerytoken></div>

    <fieldset>
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input type="text" id="email" name="email" placeholder="" class="input-xlarge" ng-model="vm.email">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="input-xlarge" ng-model="vm.password">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-success">Log In</button>
            </div>
        </div>
    </fieldset>
</form>